<html>
	<head>
		<title>BarBird</title>
		<style>
			#map {
				width: 500px;
				height: 400px;
				background-color: #CCC;
			}
		</style>
		<script src="https://maps.googleapis.com/maps/api/js"></script>
		<script>
			function initialize() {
        		var mapCanvas = document.getElementById('map');
        		var mapOptions = {
          			zoom: {{zoom}},
          			mapTypeId: google.maps.MapTypeId.ROADMAP,
          			disableDefaultUI: true,
        		}
        		var map = new google.maps.Map(mapCanvas, mapOptions)
        		map.setCenter(new google.maps.LatLng({{new_location_text}}))
      		}
      		google.maps.event.addDomListener(window, 'load', initialize);
		</script>
	</head>
	<body>
		<div id='header_div'>Main</div>
		<div id='map'></div>
		<div id='main_div'>
			<form method="POST">
    			<input name="location_text" id="location" placeholder="Location" />
    			{% csrf_token %}
			</form>
		</div>
		<!--script type="text/javascript" src="home.js"></script -->
	</body>
</html>